.note{
    border: 3px solid #d9d9d9;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.note:hover{
    background-color: #3fbc6c;
    color:white;
    border-color: #3fbc6c;
}

.close{
    margin-right: -10px;
}

.modal-dialog{
    max-width: 650px !important;
}

.note-box{
    margin-bottom: 10px;
}

.note-box-delete {
    animation-name: deleteBox;
    animation-duration: 1s;
}

@keyframes deleteBox {
    from {transform:scale(1)}
    to {transform:scale(0)}
}